body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#21c08b, #Ab88ff);
    //background-color: #Ab88ff;
    font-family: "Muli", sans-serif;
  }

  * {
      box-sizing: border-box;
  }